---
title: photos
layout: base.njk
permalink: /photos/
---

<article class="page lined">
  {% if collections.photos | length %}
  {% for photo in collections.photos %}
  <p><a href="{{ photo.url }}">{{ photo.data.title }}</a> <span class="dim">— {{ photo.data.date | readableDate }}</span></p>
  {% endfor %}
  {% else %}
  <p class="dim">coming soon.</p>
  {% endif %}
</article>
