---
title: notes
layout: base.njk
permalink: /notes/
---
<article class="page lined">
  <p>writing, thoughts, essays.</p>
  <p>&nbsp;</p>
  {% for note in collections.notes %}
  <p><a href="{{ note.url }}">{{ note.data.title }}</a> <span class="dim">— {{ note.data.date | readableDate }}</span></p>
  {% endfor %}
</article>
