---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <id>{{ site.url }}/</id>
  <updated>{{ collections.notes | first | getDate | isoDate }}T00:00:00Z</updated>
  <author>
    <name>{{ site.author }}</name>
  </author>
  {%- for note in collections.notes | head(20) %}
  <entry>
    <title>{{ note.data.title }}</title>
    <link href="{{ site.url }}{{ note.url }}"/>
    <id>{{ site.url }}{{ note.url }}</id>
    <updated>{{ (note.data.updated or note.data.date or note.date) | isoDate }}T00:00:00Z</updated>
    <content type="html">{{ note.templateContent | e }}</content>
  </entry>
  {%- endfor %}
</feed>
